NEXT_PUBLIC_SUPABASE_URL=https://xvojllupqyoeluojyrao.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SITE_URL=https://ritmolab.vercel.app

# Opcional para webhooks/backend. NO poner en cliente.
SUPABASE_SERVICE_ROLE_KEY=

# Opcional para pagos reales
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PRICE_ID=
MERCADOPAGO_ACCESS_TOKEN=
